services:
  - type: web
    name: fastapi-backend
    env: python
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "uvicorn backend:app --host 0.0.0.0 --port 8000"
    runtime: python
    region: oregon

  - type: web
    name: streamlit-frontend
    env: python
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "streamlit run frontend.py"
    runtime: python
    region: oregon
